<footer class="footer">
  <div class="footer-content">
    <a href="/">
      <i class="fa-solid fa-house"></i>
      <span>Inicio</span>
    </a>
    <a href="#">
      <i class="fa-solid fa-tags"></i>
      <span>Promos</span>
    </a>
    <a href="#">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>Pedidos</span>
    </a>
    <a href="#" data-user>
      <i class="fa-solid fa-user"></i>
      <span>Perfil</span>
    </a>
  </div>
</footer>