<header class="header">
  <div class="header-top">
    <div class="header-left">
      <h1>Filo</h1>
      <p class="ubicacion">
        <i class="fa-solid fa-location-dot"></i>
        Ciénaga Magdalena
      </p>
    </div>
    <div class="header-right">
      <button class="icon-btn">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
      <button id="userBtn" class="icon-btn" data-user>
        <i class="fa-solid fa-user"></i>
      </button>
    </div>
  </div>
  <div class="search-wrapper">
    <button class="menu-btn">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="search-container">
      <span class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input type="text" placeholder="¿Qué se te antoja hoy?" />
    </div>
  </div>
</header>