<div class="promos">
  <div class="icono-promo">
    <p class="promos-tag">
      <i class="fa-solid fa-tag"></i>
      Promociones
    </p>
    <p class="pro-text">Por la compra mayor a $ recibe envíos gratis</p>
  </div>
</div>